/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.tweets-container {
  display: flex;
  flex-direction: column; /* Permet de centrer verticalement les tweets */
  align-items: center; /* Centrer horizontalement les tweets */
  width: 100vw;
  height: 100vh;

}

.tweet {
    border-radius: 8px;
    padding: 24px;
    gap: 10px;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

  }

  .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
  .tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .tweet-header .username {
    font-weight: bold;
    color: #3f51b5;
  }
  .tweet-header .handle {
    color: #757575;
    margin-left: 5px;
  }
  .tweet-body {
    margin-bottom: 10px;
    color: #212121;
  }
  .tweet-actions {
    display: flex;
    justify-content: space-between;
    color: #757575;
  }
  .tweet-action {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .tweet-action img {
    margin-right: 5px;
  }


  .likes:before, .dislikes:before {
    display: inline-block;
    content: '\1F44D'; /* thumbs up emoji for like, you can change it as per your preference */
    font-size: 20px; /* Adjust font size as needed */
    margin-right: 5px;
}

.dislikes:before {
    content: '\1F44E'; /* thumbs down emoji for dislike, you can change it as per your preference */
}

.likes, .dislikes {
    display: flex;
    align-items: center;
    margin-top: 5px; /* Add margin to separate from tweet content */
}

.tweet-action {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px; /* Add some space between action buttons */
    color: #757575;
}

.tweet-action.likes .count,
.tweet-action.dislikes .count {
    margin-left: 5px; /* Add some space between icon and counter */
}
