@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100wv;
    min-height: 100vh;
  }
  .left-side {
    background-color: #7B61FF; /* ou la couleur de votre choix */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
  }
  .form-container {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    background: #FFF;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  .form-container h2 {
    color: #333;
    margin-bottom: 20px;
  }
  .form-field {
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
  }
  .form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .sign-in {
    text-align: center;
    color: rgba(157, 157, 157, 1);
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .left-side, .right-side {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .right-side {
      padding: 20px;
    }
  }
  .form-field label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  .link {
    color: black;
    font-weight:bold
}

.button {
  background-color: #7B61FF;
  width: 100%;
}